.message_element {
    border: 1px black solid;
    display: flex;
    width: auto;
    min-height: 80px;
    flex-direction: column;
    margin-top: 10px;
}

.message_element__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.message_element__content{
    font-size: 18px;
}
