:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green: #35a847;
  --color-light-green: #8bc057;
  --color-orange: #E05206;
  --color-grey: #909192;
  --color-light-grey: #dedfe0;
  --color-dark-grey: #707176;
  --color-red: #dc3545;

  --animation-duration: 0.3s;

  --category-animation-duration: 0.6s;

  --header-height: 95px;
  --footer-height: 100px;
}

.main{

}