.chat_room {
    min-height: 768px;
    width: 768px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

}

#message_input{
    align-self: start;
    width: 600px;
}

.chat_room__name{
    font-size: 40px;
    text-align: center;
}

.chat_room__name {
    align-self: start;
}
